.main_div{
    background-color: lightgrey;
    border-style:solid;
    padding: 20px;
   
}
 
img{
    height: 25px;
    width: 100px;
    margin-top:-40px;
    margin-left:-20px;
    background-color: white;
}
 
.pe{
    color: red;
    font-size: medium;
    margin-left:-10px;
}
 
.ena{
    margin: -2px;
    font-size:15px;
    margin-left:5px;
}
 
/* .ho{
    margin: 5px;
    background-color: skyblue;
    font-weight: 500;
    width: 100px;
    height: 30px;
}  */
/* .l1{
    text-align: right;
    margin-top: -130px;
   
   
}
 
.hod{
    display: flex;
    text-align: right;
    padding-left: 150px;
}
   */
.hts{
    display: flex;
    text-align: right;
    padding-left: 540px;
}
 
.form-control{
    width: 150px;
    height: 30px;
   
}
 
.tha{
    display: flex;
    margin-left: 650px;
   
}
 
.anc{
    text-decoration: none;
    color: black;
}
 
/* .row {
   
    display: grid;
    grid-template-columns:repeat(7,1fr);
    grid-template-rows:repeat(7,1fr);
} */
 
.p-3{
    border:2px;
    border-style: solid;
   
}
 
.stab{
    background-color: deepskyblue;
    width: 110px;
    height: 28px;
}
 
/* .inp{
    border: 1px black solid;
    background-color: darkgrey;
}
  */
.depp{
    background-color: dimgrey;
    width:110px;
    border: 1px black solid;
}
 
.depp1{
    width: 110px;
    background-color: dimgrey;
   
}
 
.inp1{
    border: 1px black solid;
    background-color: darkgrey;
    width:100px;
    height:25px;
}
 
.forminp{
    width:150px;
    border: 1px black solid;
    background-color: darkgrey;
}

.text-center{
    display: grid;
    
}

.inp{
    width: 110px;
}