.main_div{
    background-color: lightgrey; 
    border-style:solid;
    padding: 100px; 
    
}
img{
    height: 25px; 
    width: 100px; 
    margin-top:-40px; 
    margin-left:-20px;
    background-color: white;
}

.mb-3{
    padding-left: 70px;
}

.p1{
    padding-left: 120px; 
    font-weight: 500; 
    font-size:25px; 
    font-family: sans-serif;
}

.text1{
    font-size: 13px;
}

.pf{
    font-size: 8px;
    color: red;
    font-weight: 700;
    padding-left: 335px;
    padding-top: 10px;
    top:-10px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}



.btn-dark{
    font-size: large;
    padding-bottom: 2rem;
    
}

#userId{
    height: 40px;
}

#password{
    height: 40px;
}