/* .main_div{
    background-color: lightgrey; 
    border-style:solid;
    padding: 50px; 
    padding-left: 100px;
}

img{
    height: 25px; 
    width: 100px; 
    margin-top:-40px; 
    margin-left:-20px;
    background-color: white;
}

.p1{
    margin-left: 50px; 
    font-weight: 500; 
    font-size:25px; 
    font-family: sans-serif;
}



.eicon{
    font-size: 25px;
    padding: 0 5px 0 5px;
}

.a1{
    font-size: 12px;
    color:deepskyblue;
    font-weight: 700;
    padding-left: 310px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.s1{
    font-size: 12px;
    padding-left: 100px;
    color:blueviolet;
    top:-20px;
    position: relative;
    text-decoration: none;
}

.box{
    background-color: white;
    border-radius: 10px;
    width: 67%;
    align-items: center;
    display: flex;	
    margin-left: 70px;
}

input{
    border: none;
    width: 100%;
    
}

input:focus{
    outline: none;
}

.modal{
    background-color: gray;
    top: 140px;
    left: 410px;
    height: 100px;
    width: 420px;
    align-items: center;
    overflow-y: hidden;
}

.modal-body{
    background-color: gray;
}

.btn{
    font-size: large;
}

#emaill{
    height: 40px;
} */